@import "tailwindcss";


@theme {
  --breakpoint-2xl: initial;
}
/*:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/


html,
body {
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family:  IRANSans, IRANYekan, sans-serif;
  color: #55555F;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('../public/font/IRANYekan.eot');
  src: url('../public/font/IRANYekan.eot?#iefix') format('embedded-opentype'),
      url('../public/font/IRANYekan.woff2') format('woff2'),
      url('../public/font/IRANYekan.woff') format('woff'),
      url('../public/font/IRANYekan.ttf') format('truetype');
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'IRANSans';
  src: url('../public/font/IRANSans.ttf') format('truetype');
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@import "./custom.css"; 

/*@font-face {
  font-family: estedad;
  src: url("/font/Estedad-Medium.ttf");
  font-display: block;
}*/